apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/name: suse-ai-operator
    control-plane: controller-manager
  name: suse-ai-operator-controller-manager
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: suse-ai-operator
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/name: suse-ai-operator
        control-plane: controller-manager
    spec:
      containers:
          - args:
              {{- if .Values.metrics.enable }}
              - --metrics-bind-address=:{{ .Values.metrics.port }}
              {{- else }}
              # Bind to :0 to disable the controller-runtime managed metrics server
              - --metrics-bind-address=0
              {{- end }}
              - --health-probe-bind-address=:8081
              {{- range .Values.manager.args }}
              - {{ . }}
              {{- end }}
            name: manager
            command:
              - /manager
            image: "{{ with (coalesce .Values.global.imageRegistry .Values.image.registry) }}{{ . }}/{{ end }}{{ .Values.image.repository }}:{{ .Values.image.tag | default $.Chart.AppVersion }}"
            imagePullPolicy: {{ .Values.manager.image.pullPolicy }}
            {{- if .Values.manager.probes.liveness.enabled }}
            livenessProbe:
              {{- omit .Values.manager.probes.liveness "enabled" | toYaml | nindent 12 }}
            {{- end }}
            {{- if .Values.manager.probes.readiness.enabled }}
            readinessProbe:
              {{- omit .Values.manager.probes.readiness "enabled" | toYaml | nindent 12 }}
            {{- end }}
            resources:
              {{- if .Values.manager.resources }}
              {{- toYaml .Values.manager.resources | nindent 20 }}
              {{- else }}
              {}
              {{- end }}
            securityContext:
              {{- if .Values.manager.securityContext }}
              {{- toYaml .Values.manager.securityContext | nindent 20 }}
              {{- else }}
              {}
              {{- end }}
            volumeMounts:
              - mountPath: /home/nonroot/.cache
                name: helm-cache
      serviceAccountName: suse-ai-operator-controller-manager
      terminationGracePeriodSeconds: 30
      volumes:
        - emptyDir: {}
          name: helm-cache
      securityContext:
        {{- if .Values.manager.podSecurityContext }}
        {{- toYaml .Values.manager.podSecurityContext | nindent 14 }}
        {{- else }}
        {}
        {{- end }}
      nodeSelector:
        {{- toYaml .Values.manager.nodeSelector | nindent 8 }}
      tolerations:
        {{- toYaml .Values.manager.tolerations | nindent 8 }}
      affinity:
        {{- toYaml .Values.manager.affinity | nindent 8 }}
      
