apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: installaiextensions.ai-platform.suse.com
spec:
  group: ai-platform.suse.com
  names:
    kind: InstallAIExtension
    listKind: InstallAIExtensionList
    plural: installaiextensions
    singular: installaiextension
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: InstallAIExtension is the Schema for the installaiextensions
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of InstallAIExtension
            properties:
              extension:
                properties:
                  metadata:
                    additionalProperties:
                      type: string
                    type: object
                  name:
                    minLength: 1
                    type: string
                  version:
                    minLength: 1
                    type: string
                required:
                - name
                - version
                type: object
              helm:
                properties:
                  name:
                    type: string
                  url:
                    description: |-
                      URL of the Helm repository or OCI registry.
                      Examples:
                        oci://ghcr.io/my-org/charts
                        https://charts.example.com
                    minLength: 1
                    pattern: ^(oci://|https?://).+
                    type: string
                  values:
                    additionalProperties:
                      x-kubernetes-preserve-unknown-fields: true
                    type: object
                  version:
                    type: string
                required:
                - name
                - url
                - version
                type: object
            required:
            - extension
            type: object
          status:
            description: status defines the observed state of InstallAIExtension
            properties:
              message:
                type: string
              phase:
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
