apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "suse-ai-operator.fullname" . }}
rules:
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ai-platform.suse.com
    resources:
      - installaiextensions
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ai-platform.suse.com
    resources:
      - installaiextensions/finalizers
    verbs:
      - update
  - apiGroups:
      - ai-platform.suse.com
    resources:
      - installaiextensions/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
  - apiGroups:
      - catalog.cattle.io
    resources:
      - clusterrepos
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - catalog.cattle.io
    resources:
      - clusterrepos/status
    verbs:
      - get
      - patch
      - update

---

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "suse-ai-operator.fullname" . }}
  namespace: {{ include "suse-ai-operator.extensionsNamespace" . }}
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - services
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
      - replicasets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - catalog.cattle.io
    resources:
      - uiplugins
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - catalog.cattle.io
    resources:
      - uiplugins/status
    verbs:
      - get
      - patch
      - update